{% extends 'base.html' %}
{% load static %}
{% block x %}
<div class="fs-2 text-center"><u>Image</u> <b class="text-mycolor">Gallery
<i class="fa-solid fa-image"></i></b>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="row">
            {% if data %}
            {% for x in data %}
            <div class="col-sm-4">
                <!-----   Start Card   ------>
<div class="card w-100 my-2" >
  <img src="/{{x.gpic}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">{{x.gname}}</h5>
  </div>
</div>
                <!-----   End Card   ------>
            </div>
            {% endfor %}
            {% endif %}
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}